{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Register{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="col-12 col-lg-4 offset-lg-4 ">
        <h1>Inscrire un·e participant·e</h1>
        {{ form_start(registrationForm) }}
           {{ form_widget(registrationForm) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Register</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
