{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12 justify-content-between bg-light mt-2 mb-2">
        <div class="row justify-content-center mb-1 text-center">
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-10 gradient-custom p-2 m-4">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/cutedog1.png') }}" alt="Pierre"
                     class="img-thumbnail">
                <h3>Antoine</h3>
                <div class="text-left pl-4">
                    <h4>Liens utiles :</h4>
                    <p><a href="https://github.com/AntoineAresu">Github</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-10 gradient-custom p-2 m-4">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/cutedog2.png') }}" alt="Pierre"
                     class="img-thumbnail">
                <h3>Pierre</h3>
                <div class="text-left pl-4">
                    <h4>Liens utiles :</h4>
                    <p><a href="https://github.com/pierrelebranchu">Github</a></p>
                </div>

            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-10 gradient-custom p-2 m-4">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/jb.png') }}" alt="Pierre"
                     class="img-thumbnail">
                <h3>JB</h3>
                <div class="text-left pl-4">
                    <h4>Liens utiles :</h4>
                    <p class="link-text-deco-none text-bold"><a href="https://github.com/JB-Ginguene">Github</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}Équipe{% endblock %}

