{% extends 'base.html.twig' %}

{% block body %}

    <div class="container row justify-content-between col-lg-10 col-md-10 pb-2 pt-2">
        <div class="container col-lg-5 col-md-10 col-sm-12">
            <div class="col-lg-4 bg-danger">
                Antoine
            </div>
            <div class="col-lg-4 bg-success">
                Antoine
            </div>
            <div class="col-lg-4 bg-warning">
                Antoine
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}Équipe{% endblock %}

