{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12 justify-content-between bg-light mt-2 mb-2">
        <div class="row mb-1">
            <div class="col-lg-4 bg-success">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/antoine.png') }}" alt="Pierre" class="img-thumbnail">
                Antoine
            </div>
            <div class="col-lg-4 bg-danger">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/pierre.png') }}" alt="Pierre" class="img-thumbnail">
                Pierre
            </div>
            <div class="col-lg-4 bg-warning">
                <img class="img-fluid mx-auto" src="{{ asset('images/team/jb.png') }}" alt="Pierre" class="img-thumbnail">
                JB
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}Équipe{% endblock %}

