button{
    margin-right: 1em;
}

main{
    margin-bottom: 10vh;
}

.white-link{
    text-decoration: none;
    color: white;
    outline: none;
}
.white-link:hover{
    text-decoration: none;
    color: white;
    outline: none;
}
.hidden-div{
    display: none;
}

.flash-success{
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    background-color: #2abb9b ;
    font-size: larger;
}
.flash-error{
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    background-color: #e08283;
    font-size: larger;
}

.svg{
    position: absolute;
    left: 30%;
    bottom: 25%;
}

.borderDetailSortie{
    position: absolute;
    margin-right: 10px;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    max-height: 150px;
}


.login-form{
    height: 70vh;
}
.login-button{
    width: 100%;
}

.avatar{
    display: flex;
    margin-top: 30%;
    margin-left: 20%;
    margin-block: auto;
    height: 200px;
    width: 200px;
}
#global{
    margin: 0 auto;
    width: 40%;
}

.link-text-deco-none{
    text-decoration: none;
    outline: none;
    color: black;
}
.link-text-deco-none:hover{
    text-decoration: none;
    outline: none;
    color: black;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.submit-create-sortie{
    margin-top: 2em;
}

.error-page{
    margin-top: 10vh;
}
.error-title{
    font-size: 5em;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #b0b0b0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(176, 176, 176, 0.5), rgba(212, 205, 219, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(176, 176, 176, 0.5), rgba(212, 205, 219, 0.5))
}

.gradient-custom:hover{
    /* fallback for old browsers */
    background: #dedede;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(222, 222, 222, 0.5), rgba(235, 242, 255, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(222, 222, 222, 0.5), rgba(235, 242, 255, 0.5))
}