button{
    margin-right: 1em;
}
.white-link{
    text-decoration: none;
    color: white;
    outline: none;
}
.white-link:hover{
    text-decoration: none;
    color: white;
    outline: none;
}
.hidden-div{
    display: none;
}

.flash-success{
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    background-color: #2abb9b ;
    font-size: larger;
}

.svg{
    position: absolute;
    left: 30%;
    bottom: 25%;
}

.borderDetailSortie{
    position: absolute;
    margin-right: 10px;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    max-height: 150px;
}


.login-form{
    height: 70vh;
}
.login-button{
    width: 100%;
}

.avatar{
    display: flex;
    margin-top: 30%;
    margin-block: auto;
    height: 300px;
    width: 200px;
}
#global{
    margin: 0 auto;
    width: 40%;
}

.link-text-deco-none{
    text-decoration: none;
    outline: none;
    color: black;
}
.link-text-deco-none:hover{
    text-decoration: none;
    outline: none;
    color: black;
}