button{
    margin-right: 1em;
}
.white-link{
    text-decoration: none;
    color: white;
    outline: none;
}
.hidden-div{
    display: none;
}

.flash-success{
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    background-color: #2abb9b ;
    font-size: larger;
}

.svg{
    position: absolute;
    left: 30%;
    bottom: 25%;
}