{% extends 'base.html.twig' %}

{% block body %}

    <h1>Une erreur est survenue...</h1>
    <h2>Vous pouvez retourner à la page de connexion en cliquant sur ce lien </h2>
    <a href="{{ path('app_login') }}"></a>

{% endblock %}