{% extends 'base.html.twig' %}

{% block body %}

    <div class="container error-page">
        <div class="row">
            <div class="col-12 col-lg-6 " >
                <h1 class="error-title">Oops</h1>
                <h3>Il semble que vous ayez rencontré un problème...</h3>
                <br>
                <br>
                <p> Vous pouvez retrouver votre chemin en cliquant sur ce <a href="{{ path('sortie_home') }}">lien </a></p>
            </div>
            <div class=" col-12 col-lg-6" >

                <img src="{{ asset('images/error/404.gif') }}" alt="triste" class="img-fluid">

            </div>
        </div>
    </div>
{% endblock %}